@model List<Car>;

@{
    var cars = Model;
}

@{
    void RenderTableBody()
    {
        <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Usage Duration</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Details</th>

        </tr>
        @for (int i = 0; i < cars.Count; i++)
        {
            <tr>
                            <td>@i</td>
                            <td>@($"Name: {cars[i].Model} From {cars[i].Manufacturer}")</td>
                            <td>@(DateTime.Now.Year - cars[i].FirstUseDate.Year)</td>
                            <td>@Html.Raw(cars[i].HtmlDescription)</td>
                            <td>
                                <figure>
                                    <img src="@cars[i].Image" alt="@cars[i].Model From @cars[i].Manufacturer" />
                                    <figcaption>@cars[i].Model From @cars[i].Manufacturer</figcaption>
                                </figure>
                            </td>
                            <td>
                                <a href="/cars/getdetails?carModel=@cars[i].Model&status=table">
                                    <button type="button" class="btn btn-dark"> Details</button>
                                </a>
                            </td>

                            
            </tr>
        }
    }
}

<h1 style="text-align:center; background-color:azure;">Table of Cars</h1>

<table class="table table-striped">
    @{
        RenderTableBody();
    }
</table>

<hr style="height:2px;border-width:0;color:gray;background-color:gray" />
<h1 style="text-align:center; background-color:azure;">List of Cars</h1>

<ul>
    @{
        for (int i = 0; i < cars.Count; i++)
        {
            <li>
                @(
                $"Name: {cars[i].Model} From {cars[i].Manufacturer}"
                )
            </li>
            <li>
                @(
                $"Usage Duration: {DateTime.Now.Year - cars[i].FirstUseDate.Year}"
                )
            </li>
            <li>
                @Html.Raw(cars[i].HtmlDescription)
                
            </li>
            <li>
                <figure>
                    <img src="@cars[i].Image" alt="@cars[i].Model From @cars[i].Manufacturer" />
                    <figcaption>@cars[i].Model From @cars[i].Manufacturer</figcaption>
                </figure>
            </li>
            <li>
                <a href="/cars/getdetails?carModel=@cars[i].Model&status=list">
                    <button type="button" class="btn btn-dark">Details</button>
                </a><hr>
            </li>
            
        }
    }
</ul>



@*
    Outstanding task => keep it up 

    Think about removing duplication of this code:
    <figure>
        <img src="@cars[i].Image" alt="@cars[i].Model From @cars[i].Manufacturer" />
        <figcaption>@cars[i].Model From @cars[i].Manufacturer</figcaption>
    </figure>

    These two also:
    {cars[i].Model} From {cars[i].Manufacturer}
    {DateTime.Now.Year - cars[i].FirstUseDate.Year}

*@